button a {
    display: block;
}

button a,
button a:hover {
    text-decoration: none;
}

.list-group button {
    transition: all .5s ease;
}

.list-group button:hover {
    background-color: blue;
}

.list-group button:hover a {
    color: white;
}

.item-lvl-2 {
    padding-left: 40px;
}

#floatingTextarea {
    resize: none;
}

.bold-text {
    font-weight: bold;
}

.sendFormBtn,
.outsideCallBtn {
    color: white;
    display: block;
}

form button:hover a,
.outsideCallBtn:hover {
    color: white;
}