button a {
    display: block;
}

button a,
button a:hover {
    text-decoration: none;
}

.list-group button {
    transition: all .5s ease;
}

.list-group button:hover {
    background-color: blue;
}

.list-group button:hover a {
    color: white;
}

.list-group .item-lvl-2 {
    padding-left: 40px;
}

#floatingTextarea {
    resize: none;
}

.bold-text {
    font-weight: bold;
}

.sendFormBtn,
.outsideCallBtn {
    color: white;
    display: block;
}

form button:hover a,
.outsideCallBtn:hover {
    color: white;
}

.endOfCall {
    color: white;
}

.endOfCall:hover {
    color: white;
}

.hint-text {
    color: #903030;
}

.collapse-title-link {
    color: #000;
    display: block;
    margin: 5px 0;
}

.collapse-title-link:hover {
    color: #000;
}

.requiredArea {
    color: red;
}